*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card
{
    margin:20px;
    width: 40%;
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    -webkit-transition: width 2s,box-shadow 1s;
    -moz-transition: width 2s,box-shadow 1s;
    transition: width 2s,box-shadow 1s;
    
}
.card-image{
width: 100%; 
border-top-left-radius: 5px;   
border-top-right-radius: 5px; 
-webkit-transition: opacity 2s ease;
-moz-transition: opacity 2s ease;
transition: opacity 2s ease;
}

.card:hover
{
    box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.4);
    width: 40.5%;
}
.card-body
{
    padding: 10px 15px;
}
.card-title
{
    margin-bottom: 10px;
    font-size: 20px;
}
.card-image:hover
{
    opacity: 0.8;
}

